# Site settings
title: AMYPAD
description: AMYPAD project pages
url: "https://amypad.github.io"

# Build settings
markdown: kramdown
plugins:
  - jekyll-redirect-from

# Exclude files from processing
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor
